/* footer */
.my-footer {
  background-color: #f7f7f7;
  height: 204px;
}
.footer a {
  transition: all 0.3s;
  color: #1b1a1a;
  text-decoration: none;
}
.footer a:hover {
  color: #1b1a1a5e;
}
.footer-icons a {
  margin-left: 5px;
}
/* carousel */
.my-carousel {
  padding: 0;
}
.my-carousel .carousel-item {
  background: #000;
  display: flex;
  max-height: 500px;
}
.my-carousel .carousel-item img {
  object-fit: cover;
  height: 400px;
}
.my-carousel img {
  position: relative;
  width: 100%;
}
.entry-description-container {
  position: absolute;
  top: 110px;
  background-color: rgba(0, 0, 0, 0.363);
  color: white;
  max-width: 400px;
  left: 75px;
}
.slider-title-head {
  margin-left: 20px;
  margin-top: 20px;
}
.entry-title a {
  text-decoration: none;
  color: white;
}
.entry-content {
  margin: 20px;
}
/* navigation bar */
.bg-light {
  background-color: white;
  box-shadow: 11px 11px 25px rgba(9, 7, 37, 0.06);
}
.btn-outline-dark {
  line-height: 30px;
  background-color: #ffffff;
  transition: background-color 1s cubic-bezier(0.37, 0, 0.63, 1) 0s;
}
.btn-outline-dark:hover {
  background-color: #000000;
}
.navbar-nav .dropdown-menu {
  right: 0;
  left: auto;
}
.show .navbar-nav {
  gap: 0;
}
.dropdown-menu .show {
  border-radius: 14px;
}
.show .navbar-nav a {
  max-width: 105px;
}
.navbar-nav {
  gap: 23px;
}
.nav-link {
  padding: 0;
  line-height: 45px;
}
body {
  font-family: "Poppins", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
}
.navbar .btn {
  border-radius: 14px;
  width: 155px;
  height: 46px;
}
.navbar-light .navbar-nav .nav-link {
  color: #1b1a1a;
}
.nav-link > .btn:hover {
  color: white;
}
/* content */
.row {
  padding: auto;
}
.main-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* cards */
.product-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  transition: all 0.3s;
}
.product-card:hover {
  box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}
.product-thumb a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 15px;
}
.product-thumb img {
  max-width: 100%;
  max-height: 100%;
}
.product-details {
  padding: 20px;
}
.product-details h4 a {
  font-weight: 500;
  display: block;
  height: 60px;
  overflow: hidden;
  text-decoration: none;
  color: #1b1a1a;
}
.product-details p {
  font-size: 15px;
  margin-bottom: 20px;
  color: #999;
  height: 70px;
  overflow: hidden;
}
.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 30px;
}
.product-links {
  margin-left: 20px;
  margin-bottom: 30px;
}
/* find us page */
.findus {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* contact */
.btn-contact {
}
.contactus {
  padding-top: 150px;
  padding-bottom: 180px;
}
.contacts {
  max-width: 500px;
  padding-bottom: 20px;
}
/* about us */
.aboutus li {
  max-width: 700px;
  padding-bottom: 10px;
}
.aboutus {
  padding-top: 60px;
  padding-bottom: 50px;
}
.aboutus h4 {
  padding-bottom: 15px;
}
.aboutus hr {
  max-width: 600px;
}
.content-menu {
  padding: 50px;
  max-width: 300px;
}
.content-menu hr {
  padding: 0;
  margin-top: 5px;
}
.content-menu a {
  text-decoration: none;
  color: #1b1a1a;
  transition: all 0.3s;
}
.content-menu a:hover {
  color: #1b1a1a63;
}
.contactus .btn {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 12px;
}
.contactus .btn-outline-dark {
  margin-top: 20px;
}
/* authorization */
.autho {
  padding-top: 150px;
  padding-bottom: 180px;
}
.autho h4 {
  padding-bottom: 15px;
}
.autho ul {
  padding-bottom: 45px;
}
.autho .btn {
  margin-top: 15px;
}
/* registration */
.registr ul {
  max-width: 450px;
  padding-top: 15px;
}
.input-group {
  margin-top: 25px;
  margin-bottom: 15px;
}
.nick {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.registr {
  padding-top: 150px;
  padding-bottom: 180px;
}
.registr .btn {
  margin-top: 15px;
}
